<p id="notice"><%= notice %></p>

<h1>Listing Api V1 Addresses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_addresses.each do |api_v1_address| %>
      <tr>
        <td><%= link_to 'Show', api_v1_address %></td>
        <td><%= link_to 'Edit', edit_api_v1_address_path(api_v1_address) %></td>
        <td><%= link_to 'Destroy', api_v1_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_api_v1_address_path %>
